<div class='navLinks'>
    <a href="/users"> Home </a> / User
</div>
<h1>{{user.username}}</h1>
<div class="container">
    <div>
        {{#if user.photoUrl}}
        <img src="{{user.photoUrl}}" alt="{{user.username}}'s profile photo"> {{else}}
        <img src="https://i.imgur.com/3ggmLxE.jpg" alt="{{user.username}}'s profile photo"> {{/if}}
    </div>
    <div class="userInfo">
        <div>Username:
            <strong>{{user.username}}</strong>
        </div>
        <div>Email:
            <strong>{{user.email}}</strong>
        </div>
        

        <a type="button" href="/">Logout</a>
    </div>
</div>